.main-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.main-navigation{
    margin-top:25px;
    
    li{
        float: left;
    }

    a{
        display: block;
        color:#000;
        text-decoration: none;
        padding: 0 10px;
        
        &:hover{
            text-decoration: underline;
        }
    }
}