@mixin font-face( $font-name, $font-file-path, $font-weight: normal, $font-style: normal ) {
	@font-face {
		font-family: $font-name;
		src: url('#{$font-file-path}.eot');
		src: url('#{$font-file-path}.eot?#iefix') format('embedded-opentype'),
			url('#{$font-file-path}.woff2') format('woff2'),
			url('#{$font-file-path}.woff') format('woff'),
			url('#{$font-file-path}.ttf') format('truetype'),
			url('#{$font-file-path}.svg##{$font-file-path}') format('svg');
		font-weight: $font-weight;
		font-style: $font-style;
	}
}