<header aria-label="Site header" class="main-header" id="header" role="banner">
     {{ page.branding }}
     <div class="main-navigation">
        {{ page.navigation }}
     </div>
</header>
<section class="main" id="main">
   <main aria-label="Site main content" class="content" id="content" role="main">
     {{ page.content }}
   </main>
</section>
<footer aria-label="Site footer" class="footer" id="footer" role="contentinfo">
   <div class="footer--bottom">
       {{ page.footer }}
   </div>
</footer>